
.outer {
    padding: 10px;
    overflow-y: hidden;
    /* width: 400px; */
    width: 80vw;
    height: 400px;
    /* border: 1px solid blue; */
}

.flex-container {
    overflow-x: auto;
    height: calc(100% + 17px);
    padding-bottom: 17px;
    display: flex;
    flex-wrap: nowrap;
}

.card {
    flex: 1 0 300px;

    height: 350px;
    display: inline-block;
    margin: 5px;
    border: 1px solid red;


}


.maien{

    display: flex;
    width: 100vw;
    justify-content: center;
    /* flex-direction: column; */

}


