
.outer {
    padding: 10px;
    overflow-y: hidden;
    /* width: 400px; */
    width: 80vw;
    height: 600px;
    /* border: 1px solid blue; */
}

.flex-container {
    overflow-x: auto;
    height: calc(100% + 17px);
    padding-bottom: 17px;
    display: flex;
    flex-wrap: nowrap;
}

.card {
    flex: 1 0 300px;

    height: 90%;
    display: inline-block;
    margin: 5px;



}


.maien{

    display: flex;
    width: 100vw;
    justify-content: center;
    /* flex-direction: column; */

}



.card ul{

    display: flex;
flex-direction: column;
gap: 40px;
align-items: center;
    color: white;
    
}



::-webkit-scrollbar{

    width: 0;
}




.card img{

    /* width: 101px; */

margin: 40px;    
}



html{

    scroll-behavior: smooth;
}

.outer h1{

    
  font-size: 3.1rem;
}



#rdmptext:active{

    outline: none;
    white-space: none
    ;
}